# Gradle files
.gradle/
build/
**/build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Build outputs
/build-outputs/
.build-outputs/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc.)
local.properties
/local.properties

# Sign/Key files
*.jks
*.keystore
debug.keystore
debug.keystore.base64

# Log files
*.log

# Android Studio Packaged/Local files
.navigation/
captures/
.externalNativeBuild/
.cxx/
.kotlin/
.DS_Store

# Secrets
.env

